@import "tailwindcss";

:root {
  --background: #FFFDF0;
  --foreground: #FFFDF0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFDF0;
    --foreground: #FFFDF0;
  }
}

/* New font, change if needed */
@font-face {
  font-family: 'suisse';
  src: url('/suisse.ttf') format('truetype');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'suisse';
}

div {
  font-family: 'suisse';
}

html {
  scroll-behavior: smooth;
}

/* iframe {
  pointer-events: none;
} */

#parent {
  display: flex;
}
#narrow {
  padding-right: 20%;
}
#wide {
  flex: 1;
}

.splide__slide {
  padding: 1rem;
}
.slide-img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.splide_track {
  width: 100%;
}
