@import "tailwindcss";

:root {
  --background: #FFFDF0;
  --foreground: #FFFDF0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFDF0;
    --foreground: #FFFDF0;
  }
}

/* New font, change if needed */
@font-face {
  font-family: 'suisse';
  src: url('/suisse.ttf') format('truetype');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'suisse';
}

div {
  font-family: 'suisse';
}

html {
  scroll-behavior: smooth;
}

/* iframe {
  pointer-events: none;
} */

#parent {
  display: flex;
}
#narrow {
  /*padding-right: 15%;*/
}
#wide {
  flex: 1;
}

.splide__slide {
  padding: 1rem;
}

.slide-img {
  /*aspect-ratio: 4/4;*/
  height: 250px;
  border-radius: 4px;
  /*filter: brightness(70%)*/
}

.splide__list {
  max-width: 80%;
}

.slider-container {
  margin-left: 5%;  
  margin-right: 5%;  
  overflow: hidden; 
}

.splide__track {
  max-width: 100%;   /* Ensure the track respects the container’s width */
}

.arrow {
  display: inline-block;
  padding: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(-135deg);
}

.button {
  background-color: var(--foreground-hover, #BF5700); /* Fallback to orange */
  color: white; /* Ensure text is visible */
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e07a3f; /* Use a lighter orange for hover */
}