@import "tailwindcss";

:root {
  --background: #FFFDF0;
  --foreground: #FFFDF0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFDF0;
    --foreground: #FFFDF0;
  }
}


@font-face {
  font-family: 'suisse';
  src: url('/suisse.ttf') format('truetype');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'suisse';
}

div {
  font-family: 'suisse';
}
